<html>
  <head>
    <title>Latest OT APP Builds</title>
  </head>
  <body>
    <h3>Latest Mac App</h3>
    {% for build in builds.mac %}
    <a href="{{ build.url }}">{{ build.name }}</a>
    <hr>
    <br>
    <br>
    {% endfor %}

    <h3>Latest Win App</h3>
    {% for build in builds.win %}
    <a href="{{ build.url }}">{{ build.name }}</a>
    <hr>
    <br>
    <br>
    {% endfor %}

    <h3>Latest Linux App</h3>
    {% for build in builds.linux %}
    <a href="{{ build.url }}">{{ build.name }}</a>
    <hr>
    <br>
    <br>
    {% endfor %}
  </body>
</html>
